@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Tajawal:wght@200..900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "El Messiri", serif;
  --font-sans: "Tajawal", sans-serif;

  --font-size-md: 1.025rem;

  /* Luxury Warm Bronze, Gold & Cream color palette */
  --color-brand-50: #fcfaf6;
  --color-brand-100: #f6f0e2;
  --color-brand-200: #ecdcb9;
  --color-brand-300: #dec48b;
  --color-brand-400: #cca65f;
  --color-brand-500: #b78a3c;
  --color-brand-600: #9c702d;
  --color-brand-700: #7d5724;
  --color-brand-800: #63431f;
  --color-brand-900: #50361b;
  --color-brand-950: #291a0c;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-50);
  color: var(--color-brand-950);
}
